body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
    
.unselectable {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
h1 {
    font-size: 30px;
}
    
p {
    font-size: 18px;
    white-space: preserve wrap;
}
    
div {
    margin: 5px;
    padding: 5px;
    width: 95%;
}
    
kbd {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 2.5px;
    margin-left: 5px
}
    
kbd:hover {
    background-color: #DDDDDD;
    color: #FFFFFF;
}
    
button {
    color: black;
    border: 1px solid #999999;
    background: linear-gradient(#F5F5F5, #DDDDDD);
    border-radius: 15px;
    padding: 4px 10px;
}
    
button:hover {
    background: linear-gradient(#DDDDDD, #F5F5F5);
}
    
span.star {
    font-size: 18px;
    color: #DDDDDD;
}
    
span.star:hover {
    color: #e7ed26;
}
    
p.posted {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222222;
    text-align: center;
    margin-left: 20px;
}
    
span.underline {
    text-decoration: underline;
    text-decoration-style: dotted;
}
    
header {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    height: 25px;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px
}
    
header a {
    color: blue;
    text-decoration: none;
}
    
span.poem {
        color: blue;
}