div.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    background-color: firebrick;
  
    height: 100vh;
    width: 100vw;
  }
  
  a {
    padding: 10px;
  }
  
  div.outerContainer{
    width: 100%;
    display: table;
  }
  
  div.innerContainer {
    display: table-column;
  }
  
  iframe {
    background-color: white;
    padding: 7px;
    width: 100%;
    border-style: dotted;
    display: table-cell;
  }
  
  iframe.viewer {
    height: 60vh;
  }
  
  div.sitemap {
    height: 30vh;
    overflow-y: scroll;
    background-color: white;
  }