@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: Inter;
}

body {
  background-image: url('https://pajamaclaws.net/images/poem-background.png');
}

p.title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 2.5%;
  margin-bottom: 0;
  margin-left: 2.5%;
}

p.subtitle {
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
  margin-left: 2.5%;
}

p.body {
  font-weight: 200;
  font-size: 18px;
  margin-left: 2.5%;
  white-space: preserve wrap;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid black;
}

hr#line {
  margin-top: 25%;
}

hr#collection-separator {
  margin-top: 5%;
}

p.small {
  font-weight: 300;
  font-size: 12px;
  margin: 1%;
}

ul.small-poems > li {
  font-weight: 300;
  font-size: 12px;
  margin-top: 0;
}

ul#friendsItems {
  font-weight: 300;
  font-size: 12px;
}

ul {
  margin-top: 0;
  list-style: '-> ';
}

li#friends {
  list-style-type: "↳ ";
}

ul.main-poems > li {
  margin-top: 0;
  font-weight: 200;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.back {
  font-size: 12px;
  text-decoration: none;
}

a.back:hover {
  color: burlywood;
  text-decoration: underline;
}

span.strikethrough {
  text-decoration: line-through;
}

/* touch screen */
@media (any-pointer: coarse) {
    a.back {
        color:burlywood; 
    }
}

/* no touch screen */
@media (any-pointer: fine) {
    a.back {
        color:antiquewhite; 
    }
}

/* Indent classes */
id1 {
  margin-left: 1.5%;
}
id2 {
  margin-left: 2.5%;
}
id3 {
  margin-left: 3.5%;
}
id4 {
  margin-left: 4.5%;
}