@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: Inter;
}

body {
  /* https://background-tiles.com/overview/orange/patterns/large/1019.png */
  background-image: url('https://pajamaclaws21.github.io/images/poem-background.png');
}

p.title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 2.5%;
  margin-bottom: 0;
  margin-left: 2.5%;
}

p.subtitle {
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
  margin-left: 2.5%;
}

p.body {
  font-weight: 200;
  font-size: 18px;
  margin-left: 2.5%;
}

hr {
  margin-top: 25%;
  height: 0;
  border: 0;
  border-bottom: 1px solid black;
}

p.small {
  font-weight: 300;
  font-size: 12px;
  margin-left: 2.5%;
  margin-top: 0;
}

ul {
  margin-top: 0;
  list-style: '-> ';
}

li {
  margin-top: 0;
  font-weight: 200;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.back {
  font-size: 12px;
  text-decoration: none;
}

a.back:hover {
  color: burlywood;
  text-decoration: underline;
}

/* touch screen */
@media (any-pointer: coarse) {
    a.back {
        color:burlywood; 
    }
}

/* no touch screen */
@media (any-pointer: fine) {
    a.back {
        color:antiquewhite; 
    }
}