iframe {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 997;
    height: 100%;
}

input.site {
background-color: Azure;
border: 1px solid DarkGrey;
    position: relative;
    z-index: 999;
    width: 100px;
    opacity: 0.2;
}

input.site:hover,
input.site:focus {
background-color: Azure;
border: 1px solid DarkGrey;      
outline-color: DarkGrey;
outline-width: 0.5px;
    position: relative;
    z-index: 999;
    width: 200px;
    opacity: 1;
}