<!DOCTYPE html>
<html>

<head>
	<title>PJ's Page</title>
	<link rel="icon" type="image/x-icon" href="https://pajamaclaws21.onrender.com/images/pj.ico">
	<script src="https://pajamaclaws21.onrender.com/src/dropdowns.js"></script>
	<link rel="stylesheet" href="https://pajamaclaws21.onrender.com/css/bureau.css">
	<link rel="manifest" href="https://pajamaclaws21.onrender.com/manifest.json">
    <style>
        a {
            color: firebrick;
        }

        a.header {
            color: bisque;
        }
    </style>

<body>
	<div class="body">

		<div class="header">
			<p>
				<div style="height: 8px;"></div>
				<b style="font-size: 24px;">pajamaclaws21.onrender.com</b><br>
				<div style="height: 10px;"></div>
				flavor text
			</p>
		</div>

		<div class="outerContainer">
			<div class="innerContainer">

				<div class="content">
                    Main content goes here.
				</div>

				<div class="sidebar">
                    <p style="font-size: 16px; font-weight: 700;"><b>Example Heading</b></p><br>
					This is a blank page with a
                    
                    <br><br>

                    little line break.

                    <br><br><br>

                    Here is some more text...
                </div>

			</div>
		</div>
	</div>
	
	<script>
		if (!navigator.serviceWorker.controller) {
			navigator.serviceWorker.register("/sw.js").then(function(reg) {
				console.log("Service worker has been registered for scope: " + reg.scope);
			});
		}
	</script>
</body>

</html>
