<!DOCTYPE html>
<html>
    <head>
        <title>Page</title>
	    <link rel="manifest" href="https://www.pajamaclaws.net/manifest.json">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <style>
            * {
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
    </head>
    <body>
        <h1>Heading</h1><p>
        description of my page

        <br><br>
        <a href="/">take me home</a>
        <br><br>

        content

    </body>
</html>